/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
$bg-color: #FFFFFF;
/* stylelint-disable-next-line value-keyword-case */
$font: Arial, Helvetica, sans-serif;
$primary-color:linear-gradient(98.81deg, #12AA57 -0.82%, #15BE77 101.53%);
$text-color:#09051C;
